header{
    background: rgb(208, 232, 238);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: #4aaaa5 3px solid;
    font-family: 'Georgia',
     Times, Times New Roman,
      serif;
}
body{
    background: #b9b8b8;
}
#formSubject{
    height: 300px;
}
#emailField{
    height: 200px;
    width: 400px;
    
}
#emailBody{
    width: 399px;
    height: 100%;
    vertical-align: text-top;
    padding-bottom: 45%;
}
.contactInfo{
    text-align: center;
    margin: auto;

}
.centerForm{
    text-align: left;
}
.navbar{
    z-index: 1;
}      
.jumbotron, .card, .card-body{
    border-top: #4aaaa5 3px solid;
    border-bottom: #4aaaa5 3px solid;
}

.card{
    margin: auto;
    z-index: -1;
    margin-bottom: 1%;
}
.card{
    
    background-color: #e9ecef;
}
h1,h2,h3{
    font-family: 'Georgia',
     Times, 
     Times New Roman,
      serif;
}
section,footer{
    color:#777777;
  font-family:  'Arial',
     'Helvetica Neue',
      Helvetica, 
      sans-serif;
}
footer{
    width: 100%;
    padding-top: 3%;
    padding-bottom:3%;
    margin-top: 10%; 
    color: white;
   font-family:  'Arial',
     'Helvetica Neue', 
     Helvetica, 
     sans-serif;
     clear: both;
     text-align: center;
     border-top: #4aaaa5 3px solid;
     background: #505858;
    /* position: absolute;
    bottom: 0%;   */
}
.projects{
    margin: auto;
    text-align: center;
}
.projectImg{
    margin:auto;
    text-align: center;
}
p{
    color:rgba(31, 11, 11, 0.911);
}
.contactNav{
    z-index: 1;
}