header{
    background: rgb(208, 232, 238);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: #4aaaa5 3px solid;
    font-family: 'Georgia',
     Times, Times New Roman,
      serif;
    z-index: 100;
}
body{
    background: #b9b8b8;
}
#formSubject{
    height: 300px;
}
#emailField{
    height: 200px;
    width: 400px;
    
}
#emailBody{
    width: 399px;
    height: 100%;
    vertical-align: text-top;
    padding-bottom: 45%;
}
.contactInfo{
    text-align: center;
    margin: auto;
    margin-bottom: 15%;
}
.centerForm{
    text-align: left;
}
.navbar{
    z-index: 1;
}      
.jumbotron, .card, .card-body{
    border: #4aaaa5 3px solid;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 10%;
    margin-bottom: 15%;
}
.card-body{
    width: 100%;
}
.card{
        width: 15rem;

}
.card{
    margin: auto;
    z-index: -1;
    margin-bottom: 1%;
    background-color: #e9ecef;
}

h1,h2,h3{
    font-family: 'Georgia',
     Times, 
     Times New Roman,
      serif;
}
section,footer{
    color:#777777;
  font-family:  'Arial',
     'Helvetica Neue',
      Helvetica, 
      sans-serif;
}
footer{

    width: 100%;
    padding-top: 3%;
    padding-bottom:3%;
    margin-top: 10%; 
    color: white;
   font-family:  'Arial',
     'Helvetica Neue', 
     Helvetica, 
     sans-serif;
     clear: both;
     text-align: center;
     border-top: #4aaaa5 3px solid;
     background: #505858;
     display: relative;
     position: fixed;
     bottom: 0%;  
    
}
.projects{
    margin: auto;
    text-align: center;
}
.projectImg{
    margin:auto;
    text-align: center;
}
p{
    color:rgba(31, 11, 11, 0.911);
}
#fishID{
    display: relative;
    position: fixed;
    bottom: 10%;
    left: 0%;
    z-index: -20;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    max-width: 193%;
    max-height: 116%;
    margin: auto;
   
}
#projectsContainer{
    padding-bottom: 15%;

}
@media only screen and (max-width: 520px) {
    .card-background {
        width: 50%;
        margin:auto;
        margin-bottom: 10%;
        z-index: -30;
    }
    .card{
        width: 10rem;
    }
    .jumHead{
        font-size: 1.4em;
    }
    .card-body{
        z-index: -30;
    }
    textarea{
        width: 100%;
    }
    #fishID{
        bottom:0;
    }
}